In [1]:
import pandas as pd
import pickle
import pymysql
import csv
import os

In [41]:
default_path = os.getcwd()
data_path = os.path.join(default_path, 'data')

In [42]:
conn = pymysql.connect(host='localhost', user='cori', password='Dhwoehd12!', db='task1', charset='utf8')
curs = conn.cursor()

In [43]:
def execute_sql(sql):
    curs.execute(sql)
    return curs.fetchall()

In [44]:
sql = 'SHOW TABLES;'

execute_sql(sql)

(('check_upload',),
 ('dsm_criteria',),
 ('dsm_table',),
 ('map_criteria',),
 ('upload_data',))

In [49]:
def update_sql():
    curs.fetchall()
    curs.close()
    conn.commit()

In [50]:
sql = f'UPDATE check_upload SET checked = 100 and filename = "test.csv";' 
execute_sql(sql)
update_sql()

In [30]:
sql = "CREATE TABLE check_upload(idx int NOT NULL, \
checked int NOT NULL, \
filename varchar(1000) NOT NULL, \
PRIMARY KEY(idx) \
)"

execute_sql(sql)

()

In [38]:
sql = "UPDATE check_upload SET filename = 'test' WHERE idx=0"
execute_sql(sql)

()

In [39]:
sql = 'SELECT * FROM check_upload;'

execute_sql(sql)

((0, 0, 'test'),)

In [31]:
sql = 'DESC check_upload;'

execute_sql(sql)

(('idx', 'int', 'NO', 'PRI', None, ''),
 ('checked', 'int', 'NO', '', None, ''),
 ('filename', 'varchar(1000)', 'NO', '', None, ''))

In [32]:
sql = "INSERT INTO check_upload VALUES (0, 9999, '')"
execute_sql(sql)

()

In [29]:
sql = "DROP TABLE check_upload"

execute_sql(sql)

()

In [27]:
sql = "CREATE TABLE upload_data(idx int NOT NULL, \
text varchar(2000) NOT NULL, \
label int NOT NULL, \
annot int NOT NULL, \
PRIMARY KEY(idx) \
)"

execute_sql(sql)

()

In [26]:
sql = "DROP TABLE upload_data"

execute_sql(sql)

()

In [33]:
curs.fetchall()
curs.close()
conn.commit()
conn.close()

### DSM Data Upload

In [6]:
conn = pymysql.connect(host='localhost', user='cori', password='Dhwoehd12!', db='task1', charset='utf8')
curs = conn.cursor()

In [9]:
dsm_samp = pd.read_csv(os.path.join(data_path, 'dsm_sample.csv'))
dsm_samp.head(3)

                                                text  label
0  I say, if your body had balance, you wouldnt f...      0
1          I'm so tired of feeling sad for no reason      0
2  I feel left out, like standing in space outsid...      0

In [10]:
dsm_samp['idx'] = dsm_samp.index
dsm_samp['annot'] = 9999
dsm_samp = dsm_samp[['idx', 'text', 'label', 'annot']]
dsm_samp.head(3)

   idx                                               text  label  annot
0    0  I say, if your body had balance, you wouldnt f...      0   9999
1    1          I'm so tired of feeling sad for no reason      0   9999
2    2  I feel left out, like standing in space outsid...      0   9999

In [ ]:
dsm_samp.to_csv(os.path.join(data_path, 'dsm_db.csv'), index=False)

In [ ]:
sql = "DROP TABLE map_criteria"

execute_sql(sql)

In [ ]:
sql = "DROP TABLE dsm_criteria"

execute_sql(sql)

In [ ]:
sql = "DROP TABLE dsm_table"

execute_sql(sql)

In [11]:
sql = "CREATE TABLE dsm_criteria(idx int NOT NULL, \
criteria_idx int, \
PRIMARY KEY(idx) \
)"

execute_sql(sql)

()

In [12]:
sql = "INSERT INTO dsm_criteria VALUES (0, 9999)"
execute_sql(sql)

()

In [13]:
sql = 'DESC dsm_criteria;'

execute_sql(sql)

(('idx', 'int', 'NO', 'PRI', None, ''),
 ('criteria_idx', 'int', 'YES', '', None, ''))

In [14]:
sql = "CREATE TABLE dsm_table(idx int NOT NULL, \
text varchar(2000) NOT NULL, \
label int NOT NULL, \
annot int NOT NULL, \
PRIMARY KEY(idx) \
)"

execute_sql(sql)

()

In [15]:
# 테이블에 한글 문자 입력 가능하도록 변경
sql = "ALTER TABLE dsm_table convert to charset utf8;"  

execute_sql(sql)

()

In [16]:
sql = 'DESC dsm_table;'

execute_sql(sql)

(('idx', 'int', 'NO', 'PRI', None, ''),
 ('text', 'varchar(2000)', 'NO', '', None, ''),
 ('label', 'int', 'NO', '', None, ''),
 ('annot', 'int', 'NO', '', None, ''))

In [17]:
file = open(os.path.join(data_path, 'dsm_db.csv'),'r', encoding='UTF8')
fReader = csv.reader(file)

In [18]:
idx_list = []

for idx, line in enumerate(fReader):
    if idx == 0: 
        continue 
    
    try:    # ' -> 제거하지 않으면 오류 발생 
        sql = "INSERT INTO dsm_table VALUES('{0}', '{1}', '{2}', '{3}')"\
        .format(line[0], line[1].replace("'", ''), line[2], line[3])
        curs.execute(sql)
    except:
        idx_list.append(idx)
        continue     

len(idx_list)

0

In [19]:
dsm_map = dsm_samp[['idx', 'label']]

In [20]:
dsm_a1 = dsm_map[dsm_samp.label == 0]
dsm_a2 = dsm_map[dsm_samp.label == 1]
dsm_a3 = dsm_map[dsm_samp.label == 2]
dsm_a4 = dsm_map[dsm_samp.label == 3]
dsm_a5 = dsm_map[dsm_samp.label == 4]
dsm_a6 = dsm_map[dsm_samp.label == 5]
dsm_a7 = dsm_map[dsm_samp.label == 6]
dsm_a8 = dsm_map[dsm_samp.label == 7]
dsm_a9 = dsm_map[dsm_samp.label == 8]

dsm_a2

         idx  label
30000  30000      1
30001  30001      1
30002  30002      1
30003  30003      1
30004  30004      1
...      ...    ...
35050  35050      1
35051  35051      1
35052  35052      1
35053  35053      1
35054  35054      1

[5055 rows x 2 columns]

In [21]:
dsm_a2.reset_index(inplace=True, drop=True)
dsm_a3.reset_index(inplace=True, drop=True)
dsm_a4.reset_index(inplace=True, drop=True)
dsm_a5.reset_index(inplace=True, drop=True)
dsm_a6.reset_index(inplace=True, drop=True)
dsm_a7.reset_index(inplace=True, drop=True)
dsm_a8.reset_index(inplace=True, drop=True)
dsm_a9.reset_index(inplace=True, drop=True)

In [22]:
dsm_a1['criteria_idx'] = dsm_a1.index
dsm_a2['criteria_idx'] = dsm_a2.index
dsm_a3['criteria_idx'] = dsm_a3.index
dsm_a4['criteria_idx'] = dsm_a4.index
dsm_a5['criteria_idx'] = dsm_a5.index
dsm_a6['criteria_idx'] = dsm_a6.index
dsm_a7['criteria_idx'] = dsm_a7.index
dsm_a8['criteria_idx'] = dsm_a8.index
dsm_a9['criteria_idx'] = dsm_a9.index

<ipython-input-22-c9c280de79b6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dsm_a1['criteria_idx'] = dsm_a1.index
<ipython-input-22-c9c280de79b6>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dsm_a2['criteria_idx'] = dsm_a2.index
<ipython-input-22-c9c280de79b6>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dsm_a3['criteria_idx'] = dsm_a3.index
<ipython-input-22-c9c280de79b6>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dsm_a4['criteria_idx'] = dsm_a4.index
<ipython-input-22-c9c280de79b6>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dsm_a5['criteria_idx'] = dsm_a5.index
<ipython-input-22-c9c280de79b6>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dsm_a6['criteria_idx'] = dsm_a6.index
<ipython-input-22-c9c280de79b6>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dsm_a7['criteria_idx'] = dsm_a7.index
<ipython-input-22-c9c280de79b6>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dsm_a8['criteria_idx'] = dsm_a8.index
<ipython-input-22-c9c280de79b6>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dsm_a9['criteria_idx'] = dsm_a9.index

In [23]:
dsm_a1['criteria'] = 0 
dsm_a2['criteria'] = 1
dsm_a3['criteria'] = 2 
dsm_a4['criteria'] = 3
dsm_a5['criteria'] = 4 
dsm_a6['criteria'] = 5
dsm_a7['criteria'] = 6 
dsm_a8['criteria'] = 7
dsm_a9['criteria'] = 8

<ipython-input-23-f6b4b1f49c27>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dsm_a1['criteria'] = 0
<ipython-input-23-f6b4b1f49c27>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dsm_a2['criteria'] = 1
<ipython-input-23-f6b4b1f49c27>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dsm_a3['criteria'] = 2
<ipython-input-23-f6b4b1f49c27>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dsm_a4['criteria'] = 3
<ipython-input-23-f6b4b1f49c27>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dsm_a5['criteria'] = 4
<ipython-input-23-f6b4b1f49c27>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dsm_a6['criteria'] = 5
<ipython-input-23-f6b4b1f49c27>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dsm_a7['criteria'] = 6
<ipython-input-23-f6b4b1f49c27>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dsm_a8['criteria'] = 7
<ipython-input-23-f6b4b1f49c27>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dsm_a9['criteria'] = 8

In [24]:
dsm_a1 = dsm_a1[['idx', 'criteria', 'criteria_idx']]
dsm_a2 = dsm_a2[['idx', 'criteria', 'criteria_idx']]
dsm_a3 = dsm_a3[['idx', 'criteria', 'criteria_idx']]
dsm_a4 = dsm_a4[['idx', 'criteria', 'criteria_idx']]
dsm_a5 = dsm_a5[['idx', 'criteria', 'criteria_idx']]
dsm_a6 = dsm_a6[['idx', 'criteria', 'criteria_idx']]
dsm_a7 = dsm_a7[['idx', 'criteria', 'criteria_idx']]
dsm_a8 = dsm_a8[['idx', 'criteria', 'criteria_idx']]
dsm_a9 = dsm_a9[['idx', 'criteria', 'criteria_idx']]

In [25]:
dsm_map = pd.concat([dsm_a1, dsm_a2, dsm_a3, dsm_a4, dsm_a5, dsm_a6, dsm_a7, dsm_a8, dsm_a9])
dsm_map.reset_index(inplace=True, drop=True)

In [26]:
dsm_map.to_csv(os.path.join(data_path, 'dsm_map.csv'), index=False)

In [27]:
sql = "CREATE TABLE map_criteria(idx int NOT NULL, \
criteria int, \
criteria_idx int, \
PRIMARY KEY(idx) \
)"

execute_sql(sql)

()

In [28]:
file = open(os.path.join(data_path, 'dsm_map.csv'),'r', encoding='UTF8')
fReader = csv.reader(file)

In [29]:
idx_list = []

for idx, line in enumerate(fReader):
    if idx == 0: 
        continue 
    
    try:    # ' -> 제거하지 않으면 오류 발생 
        sql = "INSERT INTO map_criteria VALUES('{0}', '{1}', '{2}')"\
        .format(line[0], line[1], line[2])
        curs.execute(sql)
    except:
        idx_list.append(idx)
        continue     

len(idx_list)

0

In [40]:
curs.fetchall()
curs.close()
conn.commit()
conn.close()

In [58]:
upload_samp = dsm_samp[dsm_samp.label==8].sample(2000)
upload_samp

,idx,text,label,annot
105779,105779,Externalizing the fantasy just means you want ...,8,9999
106599,106599,I keep thinking about writing a letter to my f...,8,9999
104138,104138,"But now I'm not, I'm not going to see the ther...",8,9999
119143,119143,DOWMVOTED ME LOLOLOLOLOLOLOOL YOLOL im not ars...,8,9999
104058,104058,I have been having thoughts about killing myse...,8,9999
...,...,...,...,...
107373,107373,"I want out but have nowhere to go, I just want...",8,9999
119411,119411,They helped me in the sense that they numbed m...,8,9999
118006,118006,I think I decided I'm going to kill myself,8,9999
101887,101887,"I don't think I'm ever going to kill myself, b...",8,9999
111385,111385,The idea that you will die someday does not bo...,8,9999

In [59]:
upload_samp.reset_index(inplace=True, drop=True)
upload_samp['idx'] = upload_samp.index
upload_samp

       idx                                               text  label  annot
0        0  Externalizing the fantasy just means you want ...      8   9999
1        1  I keep thinking about writing a letter to my f...      8   9999
2        2  But now I'm not, I'm not going to see the ther...      8   9999
3        3  DOWMVOTED ME LOLOLOLOLOLOLOOL YOLOL im not ars...      8   9999
4        4  I have been having thoughts about killing myse...      8   9999
...    ...                                                ...    ...    ...
1995  1995  I want out but have nowhere to go, I just want...      8   9999
1996  1996  They helped me in the sense that they numbed m...      8   9999
1997  1997         I think I decided I'm going to kill myself      8   9999
1998  1998  I don't think I'm ever going to kill myself, b...      8   9999
1999  1999  The idea that you will die someday does not bo...      8   9999

[2000 rows x 4 columns]

In [60]:
upload_samp.to_csv(os.path.join(data_path, 'upload_samp8.csv'), index=False)